beautifulsoup4~=4.12.2
lxml~=4.9.3
Pillow~=10.1.0
tensorflow~=2.15.0
requests~=2.31.0
PyGetWindow~=0.0.9
numpy~=1.26.2
dxcam~=0.0.5
chess~=1.10.0
opencv-python~=4.8.1.78
customtkinter~=5.2.1
svglib~=1.5.1
reportlab~=4.0.7
rlPyCairo~=0.3.0